 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            
            display: flex;
            justify-content: center;
            background-color: royalblue;
        }
        .container{
            width: 50%;
            height: auto;
            background-color: aliceblue;
            align-self: center;
            border-radius: 10px;
        }
        #generate {
            font-size: 4em;
            margin-top: 40px;
            margin-left: 40px;
            height: 85px;
            width: 80%;
            border: 3px solid royalblue;
            border-radius: 5px;
        }

        #gbtn {
            height: 40px;
            width: 20%;
            border: 3px solid royalblue;
            border-radius: 5px;
            margin-top: 40px;
            margin-left: 40px;
            margin-bottom: 40px;
        }
        h1{
            color: rgb(8, 17, 153);
            text-align: center;
        }